.form-body {
  background-image: url(https://images.unsplash.com/photo-1504544750208-dc0358e63f7f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be3aa106f944edc77c68fcd567c22bbb&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.flexContainer {
  display: flex;
  width: 100%;
  padding-top: 200px;
  justify-content: center;
}

.inputDivContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 75%;
  height: 70px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: wheat;
}

.input-1 {
  color: black;
}

.input-2 {
  color: black;
}
.resultBox{
  border-style: solid;
  border-color: springgreen;
  background-color: salmon
}